.UploadButton {
  display: inline-block;
}

.UploadButton__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.UploadButton__input {
  display: none;
}

.UploadButton__progress {
  height: 1rem;
  width: 0%;
  background-color: rgb(68, 212, 231);
  color: white;
  padding:2px
}

.UploadButton__img {
  width: 300px;
  margin: 5px 0px;
  object-fit: contain;
  border: 1px solid #acacac;
}

